<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--指定使用Log4j进行日志输出-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!--包的别名-->
    <typeAliases>
        <package name="MybatisExc.entity"/>
    </typeAliases>

    <!--配置数据库的连接-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--SQL语句和映射配置文件-->
    <mappers>
        <package name="MybatisExc.mapper"/>
    </mappers>
</configuration>