<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="MybatisExc.mapper.PrivilegeMapper">
    <resultMap id="privilegeMap" type="MybatisExc.entity.SysPrivilege">
        <id property="id" column="id"/>
        <result property="privilegeName"  column="privilege_name"/>
        <result property="privilegeUrl"   column="privilege_url"/>
    </resultMap>



    <select id="getsysPrivilegeListByRoleId" resultMap="privilegeMap">
        SELECT a.* FROM sys_privilege a
        INNER JOIN sys_role_privilege b ON a.id=b.privilege_id
        WHERE b.role_id=#{roleId}
    </select>

</mapper>